/* ReviewList.module.css */
.reviewList {
    margin-top: 2rem;
  }
  
  .reviewList h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .reviewList ul {
    list-style-type: none;
    padding: 0;
  }
  
  .reviewList li {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }
  
  .reviewList .reviewComment {
    margin-top: 0.2rem; /* Reduce the space above the comment */
    margin-bottom: 0.2rem; /* Reduce the space below the comment */
  }
  